

//----------------------------Обнудение------------------------------------------\\
*{font-family: Roboto Mono;}
a {text-decoration: none;}
//======================================================================================================================================================================\\
li {
   list-style-type: none; /* Убираем маркеры */
   display: inline; /* Отображать как строчный элемент */
  }
  ul {
   margin-left: 0; /* Отступ слева в браузере IE и Opera */
   padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
//======================================================================================================================================================================\\

.wrapper {
   min-width: 100%;
   overflow: hidden;
}
._box {
   max-width: 1034px;
   padding: 0px 15px;
   margin: 0 auto;
   margin-left: 10.41%;
}

//======================================================================================================================================================================\\

.header {
      background-color: black;
      height: 125px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;

   &__box {
      display: flex;
      min-height: 150px;
      align-items: center;
   }

   &__logo {
      img {
         width:141px;
         height:47px;
      }
   }
   &__menu {
      margin: 0px 0px 0px 82px;
   }
}
.box {
   &__down {
      position: absolute;
width: 1920px;
height: 45px;
left: 0px;
top: 104px;
background: #513CA8;
   }
}

.menu {
   &__list
   {
      position: relative;
   }

   &__item {
      margin-right: 163px;
   }
   &__item:last-child {
      margin-right: 0px;
   }
   &__link {
      color: #184FB9;
      font-weight: 700;
      font-size: 36px;
      line-height: 47px;
   }
   

   &__item:hover .sub-menu__list  {
         display: block;
   }

   }
   .sub-menu {
      padding: 70px 0px 0px 0px;
      &__list {
         z-index: 4;
         left: -10%;
         top: 45px;
         padding: 20px 3px 20px 3px;
         display: none;
         position: absolute;
         background-color: #000000;
      }
      
      &__link {
         color: #184FB9;
         display: block;
         font-weight: 700;
         font-size: 36px;
         line-height: 47px;
      }
   } 

//======================================================================================================================================================================\\